@import url('https://fonts.googleapis.com/css?family=Short+Stack&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

:root {
    --bg-color: white;
    --letter-color: gray;
    --header-height: 60px;
    --sidebar-width: 300px;
    --pane-margin: 10px;
}

* {
    font-family: 'Inter';
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: calc(var(--pane-margin) / 2);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

body>* {
    margin: calc(var(--pane-margin) / 2);
    background-color: white;
    box-shadow:
        0  3px  1px -2px #ddd,
        0 10px 10px -2px #ddd,
        0 10px 30px -2px #ddd;
    border-radius: 5px;
}

h1,h1 * {
    font-family: 'Short Stack';
    font-size: 30px;
    overflow: hidden;
    color: white;
}

header {
    height: var(--header-height);
    min-height: var(--header-height);
    width: calc(100vw - calc(var(--pane-margin) * 2));
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    background-color: oklch(0.7 0.1245 67.81);
}

aside {
    width: var(--sidebar-width);
    padding: 20px;
    height: calc(calc(100vh - var(--header-height)) - calc(var(--pane-margin) * 3));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
    flex-grow: 0px;
    /* border: 1px solid red; */
}

.spacing-separator {
    flex-grow: 1;
}

aside>div>label {
    display: block;
    padding-bottom: 5px;
}

select {
    width: 100%;
    height: 30px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.clr-field {
    margin-left: 5px;
}

.clr-field button {
    width: 100% !important;
}

input[data-coloris] {
    width: 60px;
    height: 50px;
    cursor: pointer;
}

#skip-letters-checkbox {
    margin-left: 5px;
}

#skip-letters-checkbox input[type="checkbox"] {
    display: none;
}

#skip-letters-checkbox label {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid #333333;
    border-radius: 50%;
    color: var(--letter-color);
    font-family: "Short Stack";
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
    margin: 0;
    cursor: pointer;
}

#skip-letters-checkbox label:hover {
    background-color: #ddd;
}

#skip-letters-checkbox input[type="checkbox"]:checked+label {
    font-size: 0px;
}

#word-list li {
    font-size: 20px;
}

#word-list input {
    width: 100px;
    height: 32px;
    margin: 0;
    margin-left: -5px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 5px;
}

#word-list input.invalid {
    color: red;
}

#word-list input.invalid:focus {
    color: inherit;
}

#word-list input:hover {
    border: 1px solid #ddd;
}

#word-list input:focus {
    outline: none;
    border: 1px solid SelectedItem;
}

.awesomplete > ul {
    transition-duration: 20ms;
    max-height: 33vh;
    overflow: scroll;
}

button {
    padding: 5px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
}

#shuffle-words {
    width: 66%;
}

#download {
    width: 100%;
}

main {
    width: calc(calc(100% - var(--sidebar-width)) - calc(var(--pane-margin) * 2));
    height: calc(calc(100% - var(--header-height)) - calc(var(--pane-margin) * 2));
}

.main-content {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#current-page {
    width: 422px;
    height: 596px;
    border: 1px solid color-mix(in oklch, var(--bg-color) 67%, gray 33%);
    box-shadow:
        0 1px  1px -2px oklch(from var(--bg-color) calc(l / 1.5) calc(c / 3) h),
        0 3px 10px -2px oklch(from var(--bg-color) calc(l / 1.5) calc(c / 2) h),
        0 3px 30px -2px oklch(from var(--bg-color) l c h / 20%);
    transition: box-shadow 100ms;
    -webkit-user-select: none;
    user-select: none;
}

#current-page-svg {
    width: 420px;
    height: 594px;
}

.emoji {
    font-size: 50px;
}

.margin-hl-line {
    stroke: red;
    stroke-width: 6px;
    stroke-opacity: 0; 
}

.margin-hl-line:hover+.margin-line {
    stroke: red;
}

.large-screens-only {
    font-family: inherit;
}

.small-screens-only {
    display: none;
}

.non-tiny-screens-only {
    font-family: inherit;
}

.tiny-screens-only {
    display: none;
}

@media(max-width: 800px) {
    .large-screens-only {
        display: none;
    }
    .small-screens-only {
        display: inline;
        font-family: inherit;
    }
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    header {
        order: 1;
        width: calc(100vw - calc(var(--pane-margin) * 2));
    }
    aside {
        order: 3;
        width: calc(100vw - calc(var(--pane-margin) * 2));
        height: unset;
        border-right: none;
        border-top: 1px solid #ddd;
        gap: 20px;
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        grid-template-columns: min-content min-content 1fr 2fr;
        grid-template-areas: 
            "dimensions dimensions dimensions skip-letters"
            "bg-color letter-color . words"
            "download download download words";
    }
    aside .input-group {
        margin-bottom: 0;
    }
    .input-group.dimensions { grid-area: dimensions; }
    .input-group.bg-color { grid-area: bg-color; }
    .input-group.letter-color { grid-area: letter-color; }
    .input-group.download { grid-area: download; }
    .input-group.skip-letters {
        grid-area: skip-letters;
    }
    #skip-letters-checkbox label {
        width: 32px;
        height: 32px;
        font-size: 18px;
        line-height: 30px;
        margin: 0;
    }
    .input-group.word-list {
        grid-area: words;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #word-list {
        margin-top: 0;
    }
    #word-list input {
        width: 100%;
    }
    #shuffle-words {
        width: 100%;
    }
    aside .spacing-separator {
        display: none;
    }
    main {
        order: 2;
        height: 100%;
        width: calc(100vw - calc(var(--pane-margin) * 2));
    }
}

@media (max-width: 500px) {
    .non-tiny-screens-only {
        display: none;
    }
    .tiny-screens-only {
        display: inline;
    }
    aside {
        padding: 20px 4%;
        grid-template-rows: min-content min-content min-content 1fr min-content;
        grid-template-columns: auto;
        grid-template-areas: 
            "dimensions dimensions"
            "bg-color skip-letters"
            "bg-color words"
            "letter-color words"
            "download words";
    }
    #word-list {
        padding-left: 24px;
    }
}
