@import url('https://fonts.googleapis.com/css?family=Short+Stack&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

:root {
    --bg-color: white;
    --border-color: color-mix(in srgb, var(--bg-color) 67%, gray 33%);
    --shadow-color: color-mix(in srgb, var(--border-color) 50%, white 50%);
    --letter-color: gray;
}

* {
    font-family: 'Inter';
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

h1,h1 * {
    font-family: 'Short Stack';
    font-size: 32px;
}

header {
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

aside {
    width: 300px;
    border-right: 1px solid #ddd;
    padding: 20px;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
    /* border: 1px solid red; */
}

label {
    display: block;
    padding-bottom: 5px;
}

select {
    width: 100%;
    height: 30px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.clr-field {
    margin-left: 5px;
}

.clr-field button {
    width: 100% !important;
}

input[data-coloris] {
    width: 60px;
    height: 50px;
    cursor: pointer;
}

#word-list li {
    font-size: 20px;
}

#word-list input {
    width: 100px;
    height: 30px;
    margin: 0;
    margin-left: -5px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 5px;
}

#word-list input:hover {
    border: 1px solid #ddd;
}

#word-list input:focus {
    outline: none;
    border: 1px solid #8888ff;
}

button {
    padding: 5px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
}

#shuffle-words {
    width: 66%;
}

#download {
    width: 100%;
}

main {
    width: clamp(600px, 70%, 1000px);
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#current-page {
    border: 1px solid var(--border-color);
    width: 422px;
    height: 596px;
    box-shadow: var(--shadow-color) 0 0 100px 20px;
    transition: box-shadow 100ms;
}

#current-page:hover {
    box-shadow: var(--border-color) 0 0 100px 20px;
}

#current-page-svg {
    width: 420px;
    height: 594px;
}

.emoji {
    font-size: 50px;
}

.margin-hl-line {
    stroke: red;
    stroke-width: 6px;
    stroke-opacity: 0; 
}

.margin-hl-line:hover+.margin-line {
    stroke: red;
}

.letter {
    font-family: 'Short Stack';
    /* fill: var(--letter-color); */
}

.large-screens-only {
    font-family: inherit;
}

@media(max-width: 900px) {
    .large-screens-only {
        display: none;
    }
}
