@import url('https://fonts.googleapis.com/css?family=Short+Stack&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

:root {
    --bg-color: white;
    --border-color: color-mix(in srgb, var(--bg-color) 67%, gray 33%);
}

* {
    font-family: 'Inter';
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-family: 'Short Stack';
    font-size: 32px;
}

header {
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

aside {
    width: 300px;
    border-right: 1px solid #ddd;
    padding: 20px;
    height: calc(100% - 60px);
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    padding-bottom: 5px;
}

.clr-field button {
    width: 100% !important;
}

input[data-coloris] {
    width: 60px;
    height: 50px;
}

main {
    width: clamp(600px, 70%, 1000px);
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#current-page {
    border: 1px solid var(--border-color);
    width: 422px;
    height: 596px;
    box-shadow: color-mix(in srgb, var(--border-color) 50%, white 50%) 0 0 100px 20px;
}

#current-page:hover {
    box-shadow: var(--border-color) 0 0 100px 20px;
}

#current-page-svg {
    width: 420px;
    height: 594px;
}

.emoji {
    font-size: 50px;
}

.margin-hl-line {
    stroke: red;
    stroke-width: 6px;
    stroke-opacity: 0; 
}

.margin-hl-line:hover+.margin-line {
    stroke: red;
}

.letter {
    font-family: 'Short Stack';
    fill: gray;
}

.large-screens-only {
    font-family: inherit;
}

@media(max-width: 900px) {
    .large-screens-only {
        display: none;
    }
}
